<div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ www.linkedin.com/in/ismael-ferrón-clavero-48813959 }}">{{ site.github.owner_name }}</a></p>
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Pagina web creada por Ismael Ferrón</a></p>
      </footer>
    </div>
  </body>
